doctype html
html
  head
    title GL Dashboard
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="/style.css")
  body
    h1.mainTitle Sweet Dashboard
    #container
      block content
